regex==2022.10.31
torch==1.13.1
scikit-learn
transformers==4.25.1
wordcloud==1.8.2.2
matplotlib==3.6.3
numpy
uuid
python-dotenv
memory_profiler
gensim==4.2.0
seaborn
annoy==1.17.1
datasets==2.8.0
gradio==3.43.2
